.tab_register_button.tab_Active, .tab_login_button.tab_Active {
    background: white;
}

#auth-modal-header {
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
p#auth-modal-desc {
    color: rgb(161, 161, 161);
    text-align: center;
}

.form_tab{
    margin-top: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.tab_register_button,
.tab_login_button {
    border: 1px solid transparent;
    width: 50%;
    padding: 12px 0;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.06);
    outline: 0;
    cursor: pointer;
}

.bordered {
    border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
}

.tab_register_button {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#or {
    color: rgb(88, 87, 87);
    margin-top: 30px;
    text-align: center;
}

@media(min-width: 700px) {
    #ah-form-container {
        padding: 0 20%;
    }
}

@media (max-width: 970px) and (min-width: 700px) {
    #ah-form-container {
        padding: 0 10%;
    }
}