#user-profile-menu {
  position: relative;

  .atom__avatar {
    border-radius: 50%;
    height: 52px;
    width: 52px;
    min-height: 52px !important;
    transform: translateY(-5px);
    padding: 0;
    background: none;
    margin: 0;
  
    .image {
      width: 100%;
      min-height: 52px !important;
      border-radius: 50%;
      cursor: pointer;
    }
  
    .fa-chevron-down {
      position: absolute;
      right: -21px;
      top: 38%;
      color: #4dd6a5;
      font-size: 18px;
      cursor: pointer;
    }
  }
  
  .atom__avatar:focus {
    outline: none;
  }

}
