.Social-Login {
  width: 250px;
  height: 45px;
  border-radius: 25px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  margin: 6px auto;
  border: 0;
}

.facebook {
  background-color: #4267b2;
}

.google {
  background-color: #eb5548;
}

.twitter {
  background-color: #1dcaff;
}

.Social-Login {
  .inline {
    height: 100%;
    margin: auto 0;
  }

  .icon {
    width: 100px;
    border-radius: 4px;
    font-size: 27px;
    
    svg {
      color: white;
    }
  }

  .font {
    border-radius: 4px;
  }
}

.Social-Login:hover {
  cursor: pointer;
  opacity: 0.8;
}
