$primary-color: #4DD6A5;

* {
	outline: none;
}

.article-inner-container {
	padding: 55px 10px;
	flex: 1;
	display: flex;
	flex-direction: column;
	.article-loader {
		display: flex;
		flex:1;
		width: 100%;
    height: 64px;
    justify-content: center;
    align-items: center
	}
	.article-loader:after {
		content: ' ';
		display: block;
		width: 56px;
		height: 56px;
		margin: 1px;
		border-radius: 50%;
		border: 5px solid #13b47a;
		border-color: #13b47a transparent #13b47a transparent;
		animation: article-loader 1.2s linear infinite;
	}

	.article-container-card {
    background-color: white;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		width: 600px;
		padding: 15px 8px;
		margin: auto;
		align-items: center;
		box-shadow: 0 1px 3px 1px rgba(0,0,0,0.06);
		.notification-icon {
			font-size: 30px;
			color: #13b47a;
		}
		p {
			font-size: 16px;
			padding-top: 15px;
			text-align: center;
		}
		a {
			color: white;
			background: #4dd6a5;
			padding: 3px 20px;
			border-radius: 20px;
			border: 1px solid transparent;
		}

		a:hover {
			color: #4dd6a5;
			background: transparent;
			border: 1px solid #13b47a;
		}
  }

	@keyframes article-loader {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

@media screen and (max-width: 620px) {
	.article-inner-container {
		.article-container-card {
			width: 280px;
			.notification-icon {
				font-size: 25px;
			}
			p {
				font-size: 17px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.article-inner-container {
		padding: 35px 15px;
	}
}

.pagination {
	font-size: 14px;
	justify-content: center;
	margin-top: 2em;

	li {
		margin: 0 10px;

		transition: 0.1s all ease-in-out;
		border: 1px solid $primary-color;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-weight: bold;

		a {
			color: #444;
			display: block;
		}

		&.active {
			background: $primary-color;
			border: 1px solid #fbfbfb;
			box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

			[role=button] {
				color: #fff;
			}
		}

		&:hover {
			color: white;
			background: $primary-color;
		}
	}
}

// .prev-icon {
// 	// border-top-left-radius: 20px
// 	// border-bottom-left-radius: 20px;
// 	color: rgb(49, 49, 49);
// 	border: 1px solid #4DD6A5;
// 	border-radius: 50%;

// 	&:hover {
// 		color: $primary-color;
// 	}

// }

// .next-icon {
// 	border-top-right-radius: 20px;
// 	border-bottom-right-radius: 20px;
// 	padding: 5px 20px;
// 	color: rgb(49, 49, 49);
// 	border: 1px solid #4DD6A5;

// 	&:hover {
// 		color: $primary-color;
// 	}
// }
