.TagSelector{
  border-bottom: 1px solid #4DD6A5;

  .css-1ep9fjw{
    color: #4DD6A5!important;
  }
  .css-154k3avv{
    display: block;
  }

  .react-select__menu-list{
    color: #fff!important;
    background-color: #4DD6A5!important;
  }

  .css-12jo7m5{
    color: #fff!important;
    background-color: #4DD6A5!important;
    border-radius: 0px;
  }
  .css-1alnv5e{
    color: #fff!important;
    background-color: #4DD6A5!important;
    border-radius: 0px;

    &:hover{
      color: #f34646!important;
      background-color: #aad5c6!important;
    }
  }

  .css-1uq0kb5{
    color: #4DD6A5!important;
  }

  .css-vj8t7z{
    background-color: #fff!important;
    border-radius: 0px!important;
    border-style: none!important;
  }

  .css-2o5izw{
    background-color: #fff!important;
    border-radius: 0px!important;
    border-style: none!important;
    border: 0px none!important;
    outline: none!important;
    box-shadow: none!important;
  }

  .css-d8oujb{
    display: none;
  }
}
