#profile-nav {
  box-shadow: none;
}

@media screen and (min-width: 426px) {
  #profile-nav {
    display: flex;
  }
}

@media screen and (max-width: 902px) {
  #profile-nav {
    display: none;
    width: fit-content;
    margin: 0 auto;
  }
  
  #profile-nav-is-active {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    box-shadow: none;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .SearchAndProfile-isActive {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 902px) and (max-width: 1088px) {
  #profile-nav {
    width: fit-content;
  }
  
  #profile-nav-is-active {
    box-shadow: none;
    display: flex;
    width: fit-content;
  }
}