.user-menu {
  width: 170px;
  height: fit-content;
  position: absolute;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0 #9c9c9c;
  border: solid 1px #f2f2f2;
  background-color: white;
  z-index: 9999;
  left: 41%;
  right: 0;
}

.user-menu--show {
  display: block;
}

.user-menu--hide {
  display: none;
}
