.user-menu {
  width: 170px;
  position: absolute;
  border-radius: 5px;
  background-color: white !important;
  z-index: 9999;
  right: -18px;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
  left: 41%;
  right: 0;
}

.user-menu--show {
  display: block;
}

.user-menu--hide {
  display: none;
}

.notification-icon {
  font-size: 2em;

  a {
    color: #bbb;
    text-decoration: none;
  
    &:hover {
      color: #bbb;
    }
  }
}