.bigcard {
  height: 344px;
  margin-bottom: 1.5%;
  width: 48%;
}

.bigcard:first-of-type {
  margin-right: 2%;
}

.smallcard {
  height: 210px;
  width: 32%;
  margin-right: 1%;
}

.smallcard:last-of-type {
  margin-right: 0;
}

.featCards {
  color: white;
  border-radius: 2%;
  display: flex;

  .info {
    width: 100%;
    align-self: flex-end;
    padding: 5%;
  }
}

@media screen and (max-width: 600px) {
  .featCards {
    height: 200px;
    width: 100%;
    margin: 1%;
  }

  .featCards:first-of-type {
    width: 96%;
  }

  .bigcard:first-of-type {
    margin-right: 1%;
  }

  .smallcard {
    margin-right: 0;
  }

  .smallcard:last-of-type {
    margin-right: 1%;
  }
}

@media screen and (max-width: 390px) {
  .featCards {
    height: 150px;
    width: 96%;
  }
}
