.wrapper {
  padding: 4% 10% 2% 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.right {
  margin-left: 7px;
}

.more {
  margin: 2% 20px 0 auto;
  color: #4DD6A5;
}