.container_media_button {
    flex:2;
    margin: 20px auto;
    color: #000000;

    h1 {
        font-weight: bold;
    }
    h1, p{
        font-size: 1.8rem;
        text-align: center;
        margin: 10px;
    }
    p {
        font-size: 1rem;
    }
}

.GoogleBtn, 
.FBookBtn, 
.TwitterBtn {
    background-color: #DE5245;
    width: 90%;
    margin: 10px;
    color: #fff;
    font-weight: bold;
    height: 45px;

    &:hover, &:active, &:focus{
        color: #fff;
        outline: none;
    }
}

.FBookBtn {
    background-color: #4267B2;
}

.TwitterBtn {
    background-color: #1DCAFF;
}

.iconLeft {
    position: absolute;
    left: 15px;
}

@media(min-width: 1441px) and (max-width: 1921px) {
    .container_media_button {
        h1 {
            font-size: 1.6rem;
        }
        p {
            font-size: 1.5rem;
        }

        .button {
            font-size: 1.5rem;
            min-height: 50px;
        }
    }
}

@media(min-width: 1921px) and (max-width: 3840px) {
    .container_media_button {
        padding: 30px;
        h1 {
            font-size: 4rem;
            margin: 50px;
        }
        p {
            font-size: 3rem;
            margin: 20px;
        }

        .button {
            font-size: 3rem;
            margin: 15px;
            min-height: 100px;
        }
    }
}
