.popular-articles-wrapper {
  width: 100%;
  padding: 4% 10% 2% 10%;

  .right {
    margin-left: 7px;
  }

  .more {
    width: 100%;
    text-align: end;
    
    .more-popular {
      color: #4DD6A5;
      margin: 2% 52px 0 auto;
    }
  }

  .heading {
    margin-bottom: 2%;
    width: 100%;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    text-align: center;
  }

  .Popular-Cards-Wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}