.App__Button {
  width: 157px;
  height: 48px;
  border-radius: 30px;
  background-color: rgba(196, 196, 196, 0);
  border: solid 1px #ffffff;
  font-size: 15px;
  color: white;
  margin: 0 auto 2.5% auto;
}
