.green {
  border: solid 1px #13b47a;
  color: #13b47a;
}

.white {
  border: solid 1px #ffffff;
  color: white;
}

.App__Button {
  width: 157px;
  min-height: 48px;
  border-radius: 30px;
  background-color: rgba(196, 196, 196, 0);
  font-size: 15px;
  margin: 0 auto 2.5% auto;
}

.App__Button:hover,
.App__Button:focus {
  cursor: pointer;
  background-color: #13b47a;
  color: #ffffff;
  box-shadow: 1px 1px 2px #333;
}

.App__Button:active, 
.App__Button:focus {
  outline: none;
}