.Categories-item {
  margin: 0 2.5%;
  text-align: center;
  color: black;
}

.Categories-selected {
  color: #4dd6a5;
}

.Categories-item:hover {
  color: #4dd6a5;
}

.Categories-footItem {
  color: white;
  margin: 0 2.5%;
  text-align: center;
}
