.categories-item {
  margin: 0 2.5%;
  text-align: center;
  color: black;
}

.categories-selected {
  color: #4dd6a5;
}

.categories-item:hover {
  color: #4dd6a5;
}

.categories-footItem {
  color: white;
  margin: 0 2.5%;
  text-align: center;
}

.categories-footItem-selected {
  color: black;
}
