$primary-color: #4dd6a5;

#comments-view-button {
  border: 1px solid green;
  padding: 30px 10px;
  text-align: center;
  border-radius: 4px;
  background: white;
  color: #4dd6a5;
  border: 1px solid rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

#comments-view {
  margin-top: 50px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  background: white;

  .comment-body {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px;
    font-size: 16px;
  }

  .comment-footer {
    padding: 10px;
    position: relative;
    height: 68px;

    p {
      margin: 0;
      padding: 0;
    }

    img {
      height: 45px;
      width: 45px;
      border-radius: 50%;
      display: inline-block;
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      border: 2px solid white;
    }
    .userName {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 60px;
      transform: translate(0, -50%);
      font-size: 13.5px;

      a {
        color: #4dd6a5;
      }
      a:hover {
        text-decoration: underline;
      }
    }
    .time-ago {
      font-size: 13.5px;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%);
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
.comment__likes {
  padding-left: 15px;
  padding-bottom: 10px;
  cursor: pointer;
  outline: none;

  .like {
    border: 1px solid #ccc;
    padding: 1px 7px;
    border-radius: 10px;

    svg {
      font-size: 15px;
      color: $primary-color;
    }
  }

  .active {
    background-color: #4dd6a5;
    color: #ffffff;
    border: none;
    svg {
      color: #ffffff;
    }
  }
}

.like_color {
    color: $primary-color;
}

.likes_count {
  margin-left: 5px;
  color: #999;
  font-size: 11px;
}

.like:active {
  transform: translateY(4px);
  background-color: #4dd6a5;
  color: #ffffff;
  svg {
    color: #ffffff;
  }
}