.CategorySelector {
  width: 280px;
  margin: 25px 0px;

  .css-vj8t7z{
    background-color: #fff!important;
    border-radius: 0px!important;
    border-style: none!important;
  }
  
  .css-2o5izw{
    background-color: #fff!important;
    border-radius: 0px!important;
    border-style: none!important;
    border: 0px none!important;
    outline: none!important;
    box-shadow: none!important;
  }

  .css-1ep9fjw{
    color: #4DD6A5!important;
  }

  .css-d8oujb{
    display: none;
  }
}
